<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.toolsapps.cameracontroller"
  android:versionCode="10"
  android:versionName="0.3.0">

  <uses-feature android:name="android.hardware.usb.host"/>

  <supports-screens
    android:largeScreens="true"
    android:normalScreens="true"
    android:smallScreens="false"
    android:xlargeScreens="true"/>

  <!-- For Feedback -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <!-- For Acra -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name="com.toolsapps.cameracontroller.ССApplication"
      android:icon="@drawable/icon"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:theme="@style/Theme.RYC"
      android:allowBackup="true">
    <activity
      android:name="com.toolsapps.cameracontroller.MainActivity"
      android:configChanges="orientation"
      android:label="@string/launcher_label"
      android:launchMode="singleTask"
      android:screenOrientation="sensorLandscape">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
      </intent-filter>

      <meta-data
        android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
        android:resource="@xml/device_filter"/>
    </activity>
    <activity
      android:name="com.toolsapps.cameracontroller.activities.AppSettingsActivity"
      android:label="@string/activity_app_settings_title"
      android:screenOrientation="sensorLandscape"/>
    <activity
      android:name="org.acra.CrashReportDialog"
      android:excludeFromRecents="true"
      android:finishOnTaskLaunch="true"
      android:launchMode="singleInstance"
      android:theme="@android:style/Theme.Dialog"/>

    <activity android:name=".activities.IntervalsActivity"></activity>
  </application>

</manifest>
